/web/data/** linguist-generated
/web/points_all.json linguist-generated
/web/points_available.json linguist-generated
/web/points_overlap.json linguist-generated
/web/points.json linguist-generated
/web/polygons.json linguist-generated
